<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cqesolutions.qrdniflut">
  <application>
        <activity 
            android:name=".QrCodeScanner" 
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" 
            android:exported="false" />
    </application>
</manifest>
